<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewsAPI</title>
  </head>
  <body>
    <br />
    <br />
    <br />
    <center>
      <h5 id="current-date"></h5>
      <h2>Top Articles</h2>
    </center>
    <hr />
    <br />
    <br />
    <ul>
      <% newsArticles.forEach(article => { %>
      <li>
        <h2><%= article.title %></h2>
        <br />

        <hr />
        <img
          src="<%= article.urlToImage %>"
          alt="<%= article.title %>"
          style="
            width: 100%;
            border-radius: 20px;
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center;
            height: 80%;
          "
        />
        <hr />

        <br />
        <center>
          <p style="font-size: larger; font-style: italic">
            <%= article.description %>
          </p>
          <a href="<%= article.url %>" target="_blank" style="font-weight: 900"
            >Read more &nearr;</a
          >
        </center>
        <br />
        <br />
      </li>
      <% }) %>
    </ul>
    <script>
      // Get the current date
      const currentDate = new Date();

      // Format the date as desired (e.g., "February 28, 2024")
      const formattedDate = currentDate.toLocaleDateString("en-US", {
        month: "long",
        day: "numeric",
        year: "numeric",
      });

      // Get the HTML element where you want to display the date
      const dateElement = document.getElementById("current-date");

      // Set the formatted date as the inner text of the HTML element
      dateElement.innerText = formattedDate;
    </script>
  </body>
</html>
